# いったん全部含めない
/*
/*.*

!/Readme.md
!/install.sh
!/.*

# スワップ・ファイルを再度除外
/.*.sw?

# プラグイン管理下ファイル (いつでもダウンロードできる)+履歴ファイルは無視
/.vim/.netrwhist
/.vim/doc/
/.vim/pack/github/
/.vim/pack/src/
/.vim/pack/my-plug/opt/asyncomplete-mail/
/.vim/pack/my-plug/opt/asyncomplete-spell.vim/
/.vim/pack/my-plug/opt/notmuch-py-vim/
/.vim/pack/my-plug/opt/docx2xhtml/
/.vim/pack/my-plug/start/pare_bracket/
/.vim/pack/my-plug/start/pair_bracket/
/.vim/autoload/set_notmuchpy.vim
/.vim/print/
/.vim/spell/
/.vim/viminfo
# プラグインの設定ファイル
!/.vim/pack/github/opt/vimspector/configurations/
