# vi モードを標準とする {{{1
set editing-mode vi
$if mode=vi
	set keymap vi-command
	set keymap vi-insert
$endif
# [Tab] 補完 {{{1
## カラー表示 {{{2
set colored-completion-prefix on
set colored-stats on
## シンボリックも含めディレクトリなら末尾に / を付ける {{{2
set mark-directories on
set mark-symlinked-directories on
## 補完候補が複数ある時は最初の [Tab] で表示 {{{2
set show-all-if-ambiguous on
## 補完候補が多くても問い合わせをしない {{{2
set completion-query-items 0
## 補完候補が多くても表示を途中で止めない {{{2
set page-completions off
# ビープ音は鳴らさず画面点滅 {{{1
set bell-style visible
# キー割り当て {{{1
# 編集モードではvi, emacs どちらのモードでも同じにする為、一部設定がかぶっている
## Control-x Control-e でコマンドを EDITOR で編集・実行
"\C-x\C-e": edit-and-execute-command
## 行頭、行末、左右移動 {{{2
## Ctrl-f は vim ではコマンドラインウィンドウへの移行なので、Ctrl-l に割り当てているので、それも追加
## Ctrl-h の削除は [Muhenkan] を使っているので何も問題ない
Control-a: beginning-of-line
Control-e: end-of-line
Control-b: backward-char
Control-h: backward-char
Control-f: forward-char
Control-l: forward-char
## 行頭/行末まで、カーソル前削除 {{{2
Control-u: backward-kill-line
Control-k: kill-line
Control-d: delete-char
## 履歴 (vim の補完に合わせている) {{{2
Control-p: history-search-backward
Control-n: history-search-forward
