# ~/.xprofile: executed by X
# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
umask 077
#xmodmap ~/.Xmodmap

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] && echo "$PATH" | grep -qvE "(^|:)$HOME/bin($|:)"; then
		PATH="$PATH:$HOME/bin"
fi
if [ -d "$HOME/go/bin" ] && echo "$PATH" | grep -qvE "(^|:)$HOME/go/bin($|:)"; then
		PATH="$PATH:$HOME/go/bin"
fi
if [ -d "$HOME/.local/bin" ] && echo "$PATH" | grep -qvE "(^|:)$HOME/.local/bin($|:)"; then
		PATH="$PATH:$HOME/.local/bin"
fi
if [ -d "$HOME/node_modules/.bin" ] && echo "$PATH" | grep -qvE "^$HOME/node_modules/.bin:"; then
		# node はユーザー・ローカルを優先させる
		PATH="$HOME/node_modules/.bin:$PATH"
fi

# Fzf
export FZF_DEFAULT_COMMAND='fdfind --hidden --no-ignore --follow -t f -t l -t d -E .texlive2023/ -E .npm/ -E .thumbnails/ -E thumbnails/ -E .log/ -E .tmp/ -E xapian/ -E .git/ -E cache/ -E .cache/ -E .Trash/ -E .ecryptfs/ -E .Private/ -E %*  -E "*.sw?" -E ".*.sw?" .'
export FZF_DEFAULT_OPTS='--layout=reverse --info=inline --multi --color=border:7 --preview-window=border-left --bind="ctrl-]:change-preview-window(hidden|),ctrl-h:backward-char,ctrl-l:forward-char,ctrl-f:page-down,ctrl-b:page-up,ctrl-g:execute-silent(~/bin/rifle_sxiv.sh {}),ctrl-o:become(xdg-open {}),ctrl-v:execute-silent(~/bin/gvim.sh {})"'
if [ -d "$HOME/.vim/pack/github/opt/fzf/man" ] && echo "$MANPATH" | grep -qvE "(^|:)$HOME/.vim/pack/github/opt/fzf/man($|:)"; then
		export MANPATH="$MANPATH:$HOME/.vim/pack/github/opt/fzf/man"
fi

# notmuch で日本語検索が出来るように (指定しないとカタカナ検索が出来ない?)
export XAPIAN_CJK_NGRAM=1
# IME の設定 qolibri が QT_IM_MODULE の設定がないと日本語入力できない
# export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
# export XMODIFIERS=@im=fcitx5
# export TMPDIR=~/.tmp/
# export GTK_USE_PORTAL=1
