# ~/.xprofile: executed by X
# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
umask 077
#xmodmap ~/.Xmodmap

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/go/bin" ] ; then
	PATH="$HOME/go/bin:$PATH"
fi
if [ -d "$HOME/bin" ] ; then
	PATH="$HOME/bin:$PATH"
fi
if [ -d "$HOME/.local/bin" ] ; then
	PATH="$HOME/.local/bin:$PATH"
fi
if which npm > /dev/null 2>&1 ; then
	if [ -d "$HOME/node_modules/.bin" ] ; then
		PATH="$PATH:$HOME/node_modules/.bin"
	fi
fi

# notmuch で日本語検索が出来るように (指定しないとカタカナ検索が出来ない?)
export XAPIAN_CJK_NGRAM=1
# export TMPDIR=~/.tmp/
# export GTK_USE_PORTAL=1
