# ~/.xprofile: executed by X
# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
umask 077
#xmodmap ~/.Xmodmap

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] && echo "$PATH" | grep -qvE "(^|:)$HOME/bin($|:)"; then
		PATH="$PATH:$HOME/bin"
fi
if [ -d "$HOME/go/bin" ] && echo "$PATH" | grep -qvE "(^|:)$HOME/go/bin($|:)"; then
		PATH="$PATH:$HOME/go/bin"
fi
if [ -d "$HOME/.local/bin" ] && echo "$PATH" | grep -qvE "(^|:)$HOME/.local/bin($|:)"; then
		PATH="$PATH:$HOME/.local/bin"
fi
if [ -d "$HOME/node_modules/.bin" ] && echo "$PATH" | grep -qvE "^$HOME/node_modules/.bin:"; then
		# node はユーザー・ローカルを優先させる
		PATH="$HOME/node_modules/.bin:$PATH"
fi

# Fzf
if command -v fdfind > /dev/null ; then
	export FZF_DEFAULT_COMMAND='fdfind --hidden --follow --no-ignore --ignore-file ~/.config/fd/ignore --type file --type symlink --type directory .'
else
	export FZF_DEFAULT_COMMAND='find -L . -type d \( -name .texlive2023 -o -name .npm -o -name .thumbnails -o -name thumbnails -o -name .log -o -name .tmp -o -path "$HOME/Mail/.*/new" -o -path "$HOME/Mail/.*/cur" -o -path "$HOME/Mail/.*/tmp" -o -path "$HOME/Mail/.notmuch/xapian" -o -path .local/share/Trash -o -path node_modules -o -path go/pkg -o -path "$HOME/PDF" -o -path "$HOME/img/スクリーンショット" -o -name .git -o -name cache -o -name .cache -o -name .Trash -o -name .ecryptfs -o -name .Private -o -name kpeoplevcard \) -prune -o \( -type f -o -type l \) ! -name %* ! -name ".~lock.*#" ! -name ".*.sw?" -printf "%P\n" 2> /dev/null'
fi
export FZF_DEFAULT_OPTS='--layout=reverse --info=inline --multi --color=border:7 --preview-window=border-left --bind="ctrl-]:change-preview-window(hidden|),ctrl-h:backward-char,ctrl-l:forward-char,ctrl-f:page-down,ctrl-b:page-up,ctrl-g:become(~/bin/sxiv.sh {}),ctrl-o:become(xdg-open {}),ctrl-v:become(~/bin/gvim.sh {})"'
# if [ -d "$HOME/.local/share/man" ]; then
# 	export MANPATH=${HOME}/.local/share/man:
# fi

# LESS の設定
# ~/.lesskey だと、$HOME などの環境変数や ~ が効かない。条件分岐が出来ななどの理由で一部はこちらで設定
export LESSHISTFILE=$HOME/.log/lesshist
export LESS='--no-init --quit-if-one-screen --RAW-CONTROL-CHARS --IGNORE-CASE --LONG-PROMPT --jump-target=5 --ignore-case'
if [ -x /usr/share/source-highlight/src-hilite-lesspipe.sh ]; then
	export LESSOPEN='| /usr/share/source-highlight/src-hilite-lesspipe.sh %s'
elif [  -x /usr/bin/lesspipe  ]; then
	eval "$(SHELL=/bin/sh lesspipe)"
fi

# notmuch で日本語検索が出来るように (指定しないとカタカナ検索が出来ない?)
export XAPIAN_CJK_NGRAM=1
# export TMPDIR=~/.tmp/
