! suiboku (original)
*background: #1d221f
*foreground: #e6e1d1
*borderColor: #8c8a7d
*color0:  #1d221f
*color1:  #dc322f
*color2:  #309c00
*color3:  #b48000
*color4:  #0080bd
*color5:  #e14096
*color6:  #4f5fff
*color7:  #e6e1d1,
*color8:  #29302b
*color9:  #ff786e
*color10: #00886a
*color11: #e65310
*color12: #6d736d
*color13: #966fe1
*color14: #8c8a7d
*color15: #f7f2e1
! sxiv config
Sxiv.font: UDEVGothicNF-Regular:size=14
Sxiv.background: #1d221f
Nsxiv.bar.font: UDEVGothicNF-Regular:size=14
Nsxiv.window.background: #1d221f
Nsxiv.window.foreground: #e6e1d1
Nsxiv.bar.background: #e6e1d1
Nsxiv.bar.foreground: #1d221f
Nsxiv.mark.foreground: #dc322f
! gnuplot config
gnuplot.background: #f7f2e1
! xterm config
xterm*termName: xterm-256color
xterm*scrollBar:  off
xterm*vt100*geometry:   160x50+0+0
! fonts&stuff
xterm*eightBitInput: false
! font etc
! xTerm*fontDoublesize: true
xterm*utf8: 1
xterm*locale: true
xterm*faceName: JetBrainsMono-Rebular:style=regular:antialias=true
xterm*faceNameDoublesize: UDEVGothicNF-Regular:style=regular:antialias=true
xterm*faceSize: 14
! ↓絵文字が表示されか確認の為試してみたが変化なし
! xterm*VT100.font:-misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
! xterm*ximFont: -misc-fixed-medium-r-normal--14-130-75-75-c-140-jisx0208.1983-0
! LANG=ja_JP.utf-8 xterm -u8 -fn -efont-fixed-medium-r-normal--24-240-75-75-c-120-iso10646-1 -fw -efont-fixed-medium-r-normal--24-240-75-75-c-240-iso10646-1
xterm*cjkWidth: true
xterm*fontDoublesize: true
! sixel 対応
xterm*decTerminalID: vt340
xterm*numColorRegisters: 256
