! solarized
*background: #002B36
*foreground: #DDDDDD
*borderColor: #343434
*color0:  #073642
*color1:  #DC322F
*color2:  #859900
*color3:  #B58900
*color4:  #268BD2
*color5:  #D33682
*color6:  #2AA198
*color7:  #EEE8D5,
*color8:  #002B36
*color9:  #CB4B16
*color10: #586E75
*color11: #657B83
*color12: #839496
*color13: #6C71C4
*color14: #93A1A1
*color15: #FDF6E3
! sxiv config
Sxiv.font: Ricty Diminished Regular 14
! xterm config
xterm*termName: xterm-256color
xterm*scrollBar:  off
xterm*vt100*geometry:   160x50+0+0
! fonts&stuff
xterm*eightBitInput: false
! font etc
! xTerm*fontDoublesize: true
xterm*utf8: 1
xterm*locale: true
xterm*faceName: Inconsolata:style=regular:antialias=true
xterm*faceNameDoublesize: RictyDiminished Nerd Font:style=regular:antialias=true
xterm*faceSize: 14
xterm*ximFont: -misc-fixed-medium-r-normal--14-130-75-75-c-140-jisx0208.1983-0
! ↓絵文字が表示されか確認の為試してみたが変化なし
! xterm*VT100.font:-misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
xterm*cjkWidth: true
xterm*fontDoublesize: true
! sixel 対応
xterm*decTerminalID: vt340
xterm*numColorRegisters: 256
