@charset "utf-8";

html, header#page-header {
	color: #29302b !important;
	text-align: justify !important;
	background-color: #f7f2e1 !important;
	border-color: #29302b !important;
}

body, div#page-ctn, main {
	font-size: 1em;
	line-height: 1.2;
	color: #29302b;
	text-align: justify;
	background-color: #f7f2e1;
	border-color: #29302b;
}

div#page-ctn {
	max-width: 100em;
	margin-right: 1em;
	margin-left: 1em;
}

h1 {
	text-align: center;
}

strong {
	font-weight: bold;
	color: #dc322f;
	border-color: #dc322f;
}

em {
	font-style: italic;
	color: #0080bd;
	border-color: #0080bd;
}

del {
	color: #839496 !important;
	text-decoration: line-through;
}

ins {
	color: #29302b;
	text-decoration: none;
}

img{
	max-width: 80vw;
}

a:link {
	color: #0080bd;
}

a:active {
	color: #b48000;
}

a:visited {
	color: #e14096;
}

a[href]:hover {
	font-size: 105%;
	color: #1d221f;
	background-color: #b48000;
}

pre.hljs {
	color: white;
	background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
}

h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid #29302b;
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
	visibility: hidden;
	margin-left: -24px;
}

table {
	margin-right: auto;
	margin-left: auto;
	empty-cells: show;
	border-collapse: collapse;
	border-style: solid none;
	border-width: 1pt;
}

th {
	padding: 2px 10px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	border-style: solid none;
	border-width: 1pt;
}

td {
	padding: 2px 10px;
	border-style: none;
}

@media (prefers-color-scheme: dark) {/* ダークモード */
	html, header#page-header {
		color: #e6e1d1 !important;
		background-color: #1d221f !important;
		border-color: #e6e1d1 !important;
	}

	body, div#page-ctn, main, header#page-header {
		color: #e6e1d1;
		background-color: #1d221f;
		border-color: #e6e1d1;
	}

	a[href]:hover {
		color: #f7f2e1;
	}

	ins {
		color: #e6e1d1;
	}
}

@media print {/* 印刷用 */
	body {
		color: black;
		background-color: white;
		border-color: black;
	}

	p {
		text-indent: 1em;
	}

	a:visited {
		color: #0080bd;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		border-bottom: 1px solid black;
	}

}
