@charset "utf-8";

html, header#page-header {
	color: #586e75 !important;
	text-align: justify !important;
	background-color: #fdf6e3 !important;
	border-color: #586e75 !important;
}

body, div#page-ctn, main {
	font-size: 1em;
	line-height: 1.2;
	color: #586e75;
	text-align: justify;
	background-color: #fdf6e3;
	border-color: #586e75;
}

div#page-ctn {
	max-width: 100em;
	margin-right: 1em;
	margin-left: 1em;
}

h1 {
	text-align: center;
}

strong {
	font-weight: bold;
	color: #DC322F;
	border-color: #DC322F;
}

em {
	font-style: italic;
	color: #268BD2;
	border-color: #268BD2;
}

del {
	color: #839496 !important;
	text-decoration: line-through;
}

ins {
	color: #586E75;
	text-decoration: none;
}

img{
	max-width: 80vw;
}

a:link {
	color: #268BD2;
}

a:active {
	color: #859900;
}

a:visited {
	color: #D33682;
}

a[href]:hover {
	font-size: 105%;
	color: #D33682;
	background-color: #B58900;
}

pre.hljs {
	color: white;
	background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
}

h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid #586e75;
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
	visibility: hidden;
	margin-left: -24px;
}

table {
	margin-right: auto;
	margin-left: auto;
	empty-cells: show;
	border-collapse: collapse;
	border-style: solid none;
	border-width: 1pt;
}

th {
	padding: 2px 10px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	border-style: solid none;
	border-width: 1pt;
}

td {
	padding: 2px 10px;
	border-style: none;
}

@media (prefers-color-scheme: dark) {/* ダークモード */
	html, header#page-header {
		color: #EEE8D5 !important;
		background-color: #002B36 !important;
		border-color: #EEE8D5 !important;
	}

	body, div#page-ctn, main, header#page-header {
		color: #EEE8D5;
		background-color: #002B36;
		border-color: #EEE8D5;
	}

	ins {
		color: #EEE8D5;
	}
}

@media print {/* 印刷用 */
	body {
		color: black;
		background-color: white;
		border-color: black;
	}

	p {
		text-indent: 1em;
	}

	a:visited {
		color: #268BD2;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		border-bottom: 1px solid black;
	}

}
