@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html, body, .text-paragraph{
	font-family: serif;
	color: #29302B;
	background-color: #f7f2e1;
	border-color: #8c8a7d;
}

html{
	padding: 0;
	margin: 0;
}

body{
	padding: 0.1px;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	color: #ca5b00;
}

h1{
	text-align: center;
}

a:link {
	color: #268bd2;
}

a:visited {
	color: #d14d8a;
}

div{
	font-family: 'Roboto Mono', monospace;
}

table, th {
	border-style: solid none;
	border-width: 1px;
}

table {
	margin-bottom: 1em;
	border-collapse: collapse;
}

th, td {
	padding: 1px 1ex;
	empty-cells: show;
}

th{
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #e6e1d1;
}

td{
	font-family: serif;
}

figcaption{
	text-align: center;
}

dl{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

dt{
	clear: left;
	width: 12ex;
	font-family: sans-serif;
	font-weight: bold;
	color: #966fd0;
}

dd {
	width: calc(100% - 14ex);
	margin-bottom: 10px;
	margin-left: 0;
}

caption{
	font-family: sans-serif;
	text-align: center;
}

.yellow {
	color: #a67700;
}

.blue {
	color: #268bd2;
}

.orange{
	color: #ca5b00;
}

.red{
	color: #e04a41;
}

.green{
	color: #6da34d;
}

.underline{
	text-decoration: underline wavy #dc322f;
}

table.color-difference tr td{
	text-align: center;
}

table.color-difference tr th:nth-child(1){
	border-style: none solid none none;
}

table.color-difference tr:nth-child(1){
	border-style: none none solid;
	border-width: 1px;
}

table.color-difference tr:nth-child(1) th:nth-child(n+2){
	font-size: 0.8em;
}

table.shodo tr td:nth-child(1),
table.shodo tr td:nth-child(6) {
	color: #29302B;
	background-color: #f7f2e1;
}

table.shodo tr td:nth-child(2),
table.shodo tr td:nth-child(7) {
	color: #e6e1d1;
	background-color: #1d221f;
}

table.shodo tr td:nth-child(3) {
	font-family: 'Roboto Mono', monospace;
}

table.shodo tr td:nth-child(4) {
	width: 3em;
}

table.shodo tr td:nth-child(5),
table.shodo tr td:nth-child(6),
table.shodo tr td:nth-child(7) {
	text-align: center;
}

table.shodo tr:nth-child(11) td:nth-child(7){
	padding-left: 2.5ex;
}

table.shodo tr:nth-child(10) td:nth-child(6){
	padding-left: 2.5ex;
}

table.shodo tr:nth-child(4) td:nth-child(1),
table.shodo tr:nth-child(4) td:nth-child(2) {
	color: #e04a41;
}

table.shodo tr:nth-child(5) td:nth-child(1),
table.shodo tr:nth-child(5) td:nth-child(2) {
	color: #6da34d;
}

table.shodo tr:nth-child(6) td:nth-child(1),
table.shodo tr:nth-child(6) td:nth-child(2) {
	color: #a67700;
}

table.shodo tr:nth-child(7) td:nth-child(1),
table.shodo tr:nth-child(7) td:nth-child(2) {
	color: #268bd2;
}

table.shodo tr:nth-child(8) td:nth-child(1),
table.shodo tr:nth-child(8) td:nth-child(2) {
	color: #d14d8a;
}

table.shodo tr:nth-child(9) td:nth-child(1),
table.shodo tr:nth-child(9) td:nth-child(2) {
	color: #966fd0;
}

table.shodo tr:nth-child(10) td:nth-child(2) {
	color: #e6e1d1;
}

table.shodo tr:nth-child(10) td:nth-child(1) {
	background-color: #e6e1d1;
}

table.shodo tr:nth-child(11) td:nth-child(1){
	color: #2c302a;
}

table.shodo tr:nth-child(11) td:nth-child(2) {
	background-color: #29302B;
}

table.shodo tr:nth-child(12) td:nth-child(1),
table.shodo tr:nth-child(12) td:nth-child(2) {
	color: #cf5858;
}

table.shodo tr:nth-child(13) td:nth-child(1),
table.shodo tr:nth-child(13) td:nth-child(2) {
	color: #00947a;
}

table.shodo tr:nth-child(14) td:nth-child(1),
table.shodo tr:nth-child(14) td:nth-child(2) {
	color: #ca5b00;
}

table.shodo tr:nth-child(15) td:nth-child(1),
table.shodo tr:nth-child(15) td:nth-child(2) {
	color: #6d736d;
}

table.shodo tr:nth-child(16) td:nth-child(1),
table.shodo tr:nth-child(16) td:nth-child(2) {
	color: #8c8a7d;
}

table.shodo tr:nth-child(17) td:nth-child(1),
table.shodo tr:nth-child(17) td:nth-child(2) {
	color: #6595b5;
}

figure.light-dark{
	float: left;
	margin: 1ex 1em;
}

figure.light-dark img{
	width: 64ex;
	border: solid 2pt #6d736d;
}

figure.light-dark figcaption{
	font-family: 'Roboto Mono', monospace;
}

@media (prefers-color-scheme: dark) {
	html, body, .text-paragraph {
		color: #e6e1d1;
		background-color: #1d221f;
	}

	th{
		background-color: #29302B;
	}
}
