# HOTKEY = "F9";
# UNDOKEY = "F8";
"red Pen" = PEN (size=3 color="#dc322f");
"blue Pen" = PEN (size=3 color="#0080bd");
"green Pen" = PEN (size=3 color="#309c00");
"yellow Pen" = PEN (size=3 color="#b48000");
"red Arrow" = PEN (size=3 color="#dc322f" arrowsize=2);
"blue Arrow" = PEN (size=3 color="#0080bd" arrowsize=2);
"green Arrow" = PEN (size=3 color="#309c00" arrowsize=2);
"yellow Arrow" = PEN (size=3 color="#b48000" arrowsize=2);
"Eraser" = ERASER (size = 75);
"default" = "red Pen";
"default"[Shift] = "blue Pen";
"default"[SHIFT, CONTROL] = "green Pen";
"default"[CONTROL] = "yellow Pen";
"default"[ALT] = "red Arrow";
"default"[Shift, ALT] = "blue Arrow";
"default"[SHIFT, CONTROL, ALT] = "green Arrow";
"default"[CONTROL, ALT] = "yellow Arrow";
"default"[Button3] = "Eraser"; # 右ボタン
# "default"[Button2] = "red Arrow"; # 中ボタン
