# HOTKEY = "F9";
# UNDOKEY = "F8";

"red Pen" = PEN (size=5 color="#FF0000");
"blue Pen" = PEN (size=5 color="#0000FF");
"green Pen" = PEN (size=5 color="#008800");
"yellow Pen" = PEN (size=5 color="#FFFF00");
"red Arrow" = PEN (size=5 color="#FF0000" arrowsize=2);
"blue Arrow" = PEN (size=5 color="#0000FF" arrowsize=2);
"green Arrow" = PEN (size=5 color="#008800" arrowsize=2);
"yellow Arrow" = PEN (size=5 color="#FFFF00" arrowsize=2);

"Eraser" = ERASER (size = 75);

"default" = "red Pen";
"default"[Shift] = "blue Pen";
"default"[CONTROL] = "green Pen";
"default"[SHIFT, CONTROL] = "yellow Pen";
"default"[ALT] = "red Arrow";
"default"[Shift, ALT] = "blue Arrow";
"default"[CONTROL, ALT] = "green Arrow";
"default"[SHIFT, CONTROL, ALT] = "yellow Arrow";
"default"[Button3] = "Eraser"; # 右ボタン
# "default"[Button2] = "red Arrow"; # 中ボタン
